<header>
  <nav>
    <img src="assets/images/logo.png" alt="Logo de Finanças" />
    <ul>
      <li><a href="#inicio">Início</a></li>
      <li><a href="#receitas">Receitas</a></li>
      <li><a href="#despesas">Despesas</a></li>
      <li><a href="#contato">Contato</a></li>
      <li><a href="#">Usuário</a></li>
    </ul>
  </nav>
</header>

<main>
  <section id="inicio">
    <h1 class="card" style="width: 96%">Início</h1>
    <div class="card">
      <h2>Saldo Atual</h2>
      <p>R$ 1.900,00</p>
    </div>
    <div class="card">
      <h2>Dinheiro Guardado</h2>
      <p>R$ 500,00</p>
    </div>
    <div class="tabela-container">
      <table id="tabelaInicio">
        <thead>
          <tr>
            <th>Débito</th>
            <th>Valor</th>
            <th>Vencimento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Moto</td>
            <td>R$ 850,00</td>
            <td>08/11/2024</td>
          </tr>
          <tr>
            <td>Moto</td>
            <td>R$ 850,00</td>
            <td>08/11/2024</td>
          </tr>
        </tbody>
      </table>
      <table id="tabelaInicio">
        <thead>
          <tr>
            <th>Crédito</th>
            <th>Valor</th>
            <th>Vencimento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Moto</td>
            <td>R$ 850,00</td>
            <td>08/11/2024</td>
          </tr>
          <tr>
            <td>Moto</td>
            <td>R$ 850,00</td>
            <td>08/11/2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section id="receitas"></section>
  <section id="despesas"></section>
  <section id="contato"></section>
</main>

<footer>
  <p>Todo esse campo é para o rodapé.</p>
</footer>
